.App {
  font-family: sans-serif;
  text-align: center;
  background: white;
}

.App:after {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  transition: opacity 0.6s;
  z-index: -2;
  opacity: 0;
}

.App.shading:after {
  opacity: 1;
  z-index: 10;
}
.side-menu {
  background: white;
  position: fixed;

  top: 0;
  width: 260px;
  left: -200px;
  height: 100%;
  transition: all ease 0.2s;
  border: 1px solid darkgray;
  border-radius: 0px 10px 10px 0px;
  box-shadow: 1px 1px 10px darkgray;
  z-index: 99;
}

.side-menu.active {
  left: 0;
  box-shadow: unset;
}
.table-container {
  width: 50%;
  margin: 20px 5px 20px 80px;
}

.side-menu a {
  text-decoration: none;
  color: black;
}
.menu-toggle-btn {
  font-size: 35px;
  color: #cc0042;
  opacity: 0.6;
  position: fixed;
  top: 20px;
  left: 12px;
  cursor: pointer;
}
.menu-toggle-btn:hover {
  opacity: 0.7;
  transform: scale(1.05);
}
.menu-icon {
  font-size: 30px;
  color: #cc0042;
  opacity: 0.5;
  cursor: pointer;
}
.menu-icon:hover {
  opacity: 0.7;
  transform: scale(1.05);
}

.side-menu .menu-body {
  margin: 30px 0;
  text-align: right;
  padding: 0 12px 5px 0;
}
.side-menu.active .menu-body {
  text-align: left;
  padding: 0 12px 0 12px;
}
.side-menu .menu-body p {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  transition: all ease 0.2s;
  cursor: pointer;
  border-radius: 12px;
  padding: 8px 4px 8px 10px;
}
.side-menu.active .menu-body p:hover {
  background: #e57fa0c2;
}
.side-menu.active .menu-body p:hover .menu-icon {
  color: white;
  opacity: 1;
}
.side-menu.active .menu-body p {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.side-menu .menu-body p span {
  padding: 5px 5px 5px 20px;
}
.menu-logo {
  display: flex;
  margin: 28px 55px;
  font-size: 18px;
  font-weight: bold;
  opacity: 0.8;
  color: darkgray;
  align-content: center;
  justify-content: center;
}
.menu-logo img {
  margin: 0px 2px 2px 2px;
}
.side-menu.active .menu-user {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-user {
  display: none;
}
.menu-user svg {
  font-size: 50px;
  color: darkgray;
}
.menu-user-role {
  font-weight: 700;
  color: white;
  /* border: 1px solid darkgray; */
  padding: 4px;
  border-radius: 7px;
  font-size: 12px;
  background: #e57fa0;
}
